<!DOCTYPE html>
<html lang="pt_br" html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentosPag::head('Novo Usuário')}"></head>
<body>

    <nav th:replace="~{fragmentosPag::nav}">usar fragmento</nav>

       <div class="container mt-5">
            <h3>Novo Usuário</h3>
            <form th:object="${pessoa}" th:action="@{/cadastrarPessoa}" method="post">
                <div class="row mt-5">
                    <div class="col col-md-4">
                        <label for="firstName" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ex: Júlio"  th:field="*{firstName}">                    
                    </div>
                    <div class="col col-md-4">
                        <label for="lastName" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ex: Santos" th:field="*{lastName}">                    
                    </div>
                    <div class="col col-md-4">
                        <label for="email" class="form-label">E-mail</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Ex: julio@gmail.com" th:field="*{email}">                    
                    </div>
                    <div class="col col-md-4">
                        <label for="phone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Ex: Júlio" th:field="*{phone}">                    
                    </div>
                    <div class="col col-md-4">
                        <label for="phone" class="form-label">Telefone</label>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Ex: Júlio" th:field="*{phone}">                    
                    </div>


                    <div class="col col-md-4 ">
                        <label for="tipoUsuario" class="form-label">Privilégio</label>
                        <select class="form-select" aria-label="Default select example" name="usuario" >
                            <option th:each="status : ${tipoUsuario}"
                             th:value="${status}" th:text="${status}">Sessão</option>                   
                        </select>                                        
                    </div>
                                      
                </div>                               
               <button type="submit" class="btn btn-success mt-4"> Cadastrar </button>    
            </form>
        </div>
    
    </section>


</body>
</html>