<!DOCTYPE html>
<html lang="en">
    <head th:replace="~{fragmentosPag::head('Cardapio')}"></head>

<body>
    <nav th:replace="~{fragmentosPag::nav}">usar fragmento</nav>

    <!--Selecionar a sessão e exibir o cardápio correspondente-->

<section class="jumbotron mt-5">

  <div class="container ">

    <select class="form-select" aria-label="Default select example">
      <option selected>Sessão</option>
      <option value="1">Bebidas</option>
      <option value="2">Massas</option>
      <option value="3">Drink's</option>
    </select>

    <table class="table mt-5">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Descrição</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>ssss</td>
          <td>100,0</td>
          <td class="col-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Voluptatum exercitationem laborum, accusantium reiciendis, doloremque modi harum natus earum ipsa
             cupiditate tenetur facilis eum libero quod dolores voluptatibus ratione sit nesciunt.
            </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td class="col-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
             Itaque obcaecati, aliquam tempora debitis earum veniam natus perspiciatis facere reiciendis 
            sit eius iste! Quidem dolores quis exercitationem aliquid repellat obcaecati velit?</td>
          <td>

            <button type="button" class="btn btn-primary btn-sm">Selecionar</button>
            
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
          <td>
            <button type="button" class="btn btn-primary btn-sm">Selecionar</button>
          </td>
        </tr>        
       
      </tbody>
    </table>    

    <a href="/fazerPedido" class="btn btn-success">Pedidos</a>

  </div>
</section>


</body>
</html>