
<!DOCTYPE html>
<html lang="pt_br">

<head th:replace="~{fragmentosPag::head('Novo Cardápio')}"></head>

<body>
    <nav th:replace="~{fragmentosPag::nav}">usar fragmento</nav>
    
    <section class="jumbotron">
        <div class="container mt-5">
            <h3>Novo Caradápio</h3>
            
            <form th:object="${cardapio}" th:action="@{/cadastrarCardapio}" method="post">
                <div class="row mt-5">
                    <div class="col col-md-4">
                        <label for="nome" class="form-label">Nome do Produto</label>
                        <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: Sanduíche" th:field="*{nome}">                    
                    </div>
                    <div class="col-md-auto col-md-4">
                        <label for="descricao" class="form-label">Descrição do item</label>
                        <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Ex: Bebida fermentada" th:field="*{descricao}">                    
                    </div>               
                    <div class="col-md-auto">                        
                     <!-- Foi deletado, este campo era referente ao valor, o mesmo não era solicitado -->
                     refazer esse campo
                    </div>
                                      
                    <div class="col-md-auto col-md-4 mt-4">
                        <label for="tipoProduto" class="form-label">Tipo do produto</label>
                        <input type="text" class="form-control" id="tipoProduto" placeholder="Ex: Artesanal ou prateleira">                    
                    </div>
                    <div class="col-md-auto col-md-4 mt-4">
                        <label for="Sessao" class="form-label">Sessão</label>
                        <input type="text" class="form-control" id="Sessao" placeholder="Ex: Massas">                                     
                    </div>                                                               
                    
                </div>                               
               <button type="submit" class="btn btn-success mt-4"> Cadastrar </button>    
            </form>
        </div>
    
    </section>



    
</body>
</html>