<!DOCTYPE html>
<html lang="pt_br" html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentosPag::head('Cadastrar')}"></head>

<body>
    <nav th:replace="~{fragmentosPag::nav}">usar fragmento</nav>

<section class="jumbotron">
    <div class="container mt-5">
        <h3>Novo Estabelecimento</h3>

        <form  th:object="${estabelecimento}" th:action="@{/cadastrarEstabelecimento}" method="post">

            <div class="row mt-5">
                <div class="col col-md-4">
                    <label for="nome" class="form-label">Estabelecimento</label>
                    <input type="text" class="form-control" id="nome" placeholder="Nome" name="nome" th:field="*{nome}">                    
                </div>
                <div class="col-md-auto col-md-4">
                    <label for="NomeRua" class="form-label">Rua</label>
                    <input type="text" class="form-control" id="NomeRua" placeholder="Ex: Rua 13 de maio" name="endereco.rua" th:field="*{endereco.rua}">                    
                </div>               
                <div class="col-md-auto">
                        <label for="numero" class="form-label">Número</label>
                        <input type="text" class="form-control" id="numero" placeholder="Ex: 11" >                    
                </div>
                <div class="col-md-auto col-md-4 mt-4">
                    <label for="cidade" class="form-label">Cidade</label>
                    <input type="text" class="form-control" id="cidade" placeholder="Ex: Santo Antônio" name="endereco.cidade" th:field="*{endereco.cidade}">                    
                </div>
                <div class="col-md-auto col-md-4 mt-4">
                    <label for="estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="estado" placeholder="Ex: Bahia" name="endereco.estado" th:field="*{endereco.estado}">                    
                </div>    
                <div class="col-md-auto mt-4">
                    <label for="cep" class="form-label">CEP</label>
                    <input type="text" class="form-control" id="cep" placeholder="Ex: 44444-122" name="endereco.cep" th:field="*{endereco.cep}">                    
                </div>    
                <div class="col-md-auto col-md-4 mt-4">
                    <label for="pais" class="form-label">País</label>
                    <input type="text" class="form-control" id="pais" placeholder="Ex: Brasil" name="endereco.pais" th:field="*{endereco.pais}">                                  
                </div>  
            </div>
            
           <input type="hidden" id="id" th:field="*{id}" /> 
           <button type="submit" class="btn btn-success mt-4"> Cadastrar </button>
        </form>
        <div>
            <a class="btn btn-success mt-4" th:href="@{/listarEstabelecimento}" role="button">
              <span title="Voltar" aria-hidden="true"></span>
              <span>Voltar</span>
            </a>
        </div>
    </div>

</section>
    
    

</body>

</html>