<!DOCTYPE html>
<html lang="en">

    <head th:replace="~{fragmentosPag::head('Sessão')}"></head>

<body>

    <nav th:replace="~{fragmentosPag::nav}">usar fragmento</nav>
    
    <section class="jumbotron">
        <div class="container mt-5">

            <h3>Cadastrar Sessão</h3>

            <div class="row mt-5">
                <div class="col col-md-6">
                    <form action="" >
                        <div class="mb-3">
                            <label for="nomeSessao" class="form-label">Nome da Sessão</label>
                            <input type="text" class="form-control" id="nomeSessao" placeholder="Ex: Massas">
                        </div>
                        <div class="mb-3">
                            <label for="descricaoSessao" class="form-label">Descrição</label>
                            <textarea class="form-control" id="descricaoSessao" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>
                </div>

                <div class="col-md-auto">
                    <p>Cadastre a sua sessão. Após isso, cadastre o cardápio!</p>
                </div>
            </div>
                

        </div>

    </section>


</body>
</html>